body{
	font-family: Arial, Verdana,sans-serif;
	width:  1200px;
	margin: 0 auto;
}

img {
	vertical-align:middle;
}

ul {
	list-style-type: none;
}

.logo{
	width: 210px;
	height: 93px;
	margin-left: 95px;
	margin-bottom: 10px;
	background-image: url(image/logo.jpg);
	text-indent: -9999px;
	float: left;
}

.mod_nav{
	width: 800px;
	height: 70px;
	float: right;
	margin-top: 28px;
}

.mod_nav ul li {
	margin-left: -10px;
	padding-left: 40px;
	display: inline;
	font-size: 43px;
	font-family: HiraginoSans-W3,Arial, sans-serif;
	letter-spacing: -2px;
}

a:link,a:visited {
	text-decoration: none;
	color: #afaeae;
}

a:hover,a:active {
    color: #cc3333;
}

.music {
	margin-top: 60px;
	margin-left: 95px;
}

.card{
    padding-left: 60px;
 }
.card li {
	display: inline-block;
	padding-bottom: 60px;
    margin: 30px;
    height: 280px;
    box-shadow: 1px 2px 10px #888888;
    vertical-align:top;
}

.avatar {
	padding-left: 10px;
}

.author {
    color: black;
}

.title {
	margin-top: 0;
	padding-left:10px;
	font-size: 22px;
	letter-spacing: -1px;
	width: 287px;
	color: black;
}

.card li:nth-child(1) {
	border-bottom: 4px solid #c8385a;
}

.card li:nth-child(2) {
    border-bottom: 4px solid #ffcf48;
}

.card li:nth-child(3) {
    border-bottom: 4px solid #1fcecb;
}

.card li:nth-child(4) {
    border-bottom: 4px solid #1ca9c9;
}

.card li:nth-child(5) {
    border-bottom: 4px solid #ff9f88;
}

.card li:nth-child(6) {
    border-bottom: 4px solid #c0e4da;
}

.btn-loadmore{
     margin: 30px auto 0;
	-webkit-transition:all 5s;
    width: 93px;
    height: 95px;
}

.btn-loadmore:hover{
	-webkit-transform:rotate(360deg);
}

.join_us{
	width: 130px;
	border-bottom: 3px solid #cc3333;
	margin-top: 140px;
    margin-left: 490px;
    font-family: HiraginoSans-W3,Arial, sans-serif;
    font-size: 25px;
    float: left;
    height: 30px;
}

.our_team{
	background-image: url(image/ourteam.jpg);
	margin-top: 30px;
	margin-bottom: -16px;
	width: 500px;
	height: 145px;
	display: inline-block;
	text-indent: -9999px;
}



.teammate{
	width: 1200px;
	height: 811px;
	background-image: url(image/teammate.jpg);
    text-align: center;
    position: relative;
    top: -2px;
    left: 8px;
}

.mate1 li{
	display: inline;
	padding-left: 13px;
	position: relative;
    top: 67px;
    left: -12px;
}

.mate2 li{
	display: inline;
	padding-left: 10px;
    position: relative;
    top: 10px;
    left: -13px;
}

.mate3 li{
	display: inline;
	padding-left: 12px;
	position: relative;
	top: -45px;
	left: -14px;
}



footer{
	font-size: 25px;
	color: rgb(175,174,174);
	font-family: HiraginoSans-W3,Arial, sans-serif;
	text-align: center;
	padding-top: 20px;
}


#to_top{
	width:30px;
    height:40px;
    padding:20px;
    font:14px/20px arial;
    text-align:center;
    background:#06c;
    position:absolute;
    cursor:pointer;
    color:#fff；
}



